# Ignorar archivos temporales
*~

# Ignorar archivos de respaldo
*.bak

# Ignorar todos los archivos con extensión .log en la carpeta logs
logs/*.log

# Ignorar la carpeta de imágenes


# Ignorar los DS_Store
.DS_Store

